* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
.wrap {
  height: auto;
  min-height: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.gnb {
  display: block;
  background-color: black;
  color: white;
}
.gnb ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.gnb ul li {
  display: inline-flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: center;
  font-size: 1.2rem;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
.gnb ul li a {
  transition: all 0.5s;
  transition-timing-function: ease;
}
.gnb ul li a:hover {
  color: yellow;
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
}

#myUL {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: auto;
}
.myUL li {
  display: inline-flex;
}

.select_section-characteristic {
  flex-wrap: wrap;
}
.search_bar {
  display: flex;
  align-content: center;
  justify-content: center;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 40%;
  height: 40px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.recommend {
  width: auto;
  height: 40px;
  color: black;
  font-weight: bold;
  padding-top: 1.2rem;
}
.sch_smit {
  width: 54px;
  height: 40px;
  margin: 0;
  border: 0;
  vertical-align: top;
  background: #777777;
  color: white;
  font-weight: bold;
  border-radius: 1px;
  cursor: pointer;
}
.sch_smit:hover {
  background: #888888;
}
/*검색창*/
.recommend_container {
  display: flex;
  justify-content: center;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#myUL li {
  display: inline-flex;
  flex-direction: row;
  margin: 0.5rem;
}

#myUL li a {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  width: auto;
  text-align: center;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  /*background-color: #2196f3;
  width: 100px;
  line-height: 100px;*/
  color: #ffffff;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
/*검색창*/
.select_section-characteristic {
  list-style: none;
}
.select_section-characteristic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}
.select_section-characteristic li {
  display: inline-flex;
  width: 8rem;
  height: 4rem;
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 1rem;
  margin: 0.8rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}
.see_more {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem;
}
.see_more button {
  display: inline-flex;
}

div#myBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.search_engine2 {
  display: flex;
  justify-content: center;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(
    5,
    120px
  );
  align-content: center;
  flex-wrap: wrap;
  line-height: none;
  margin-bottom: 1rem;
}
.container img {
  width: 100px;
  height: 100px;
}
.width-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 2rem;
}
.footer {
  width: auto;
  height: 0.1rem;
  /*  display: flex;
  justify-content: center;
  align-content: column;*/
  position: relative;
  transform: translateY(-100%);
  margin-left: 1rem;
  background-color: #999999;
  font-size: 0.8rem;
}

.footer_contents {
  display: block;
  width: 100%;
  font-weight: 100;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*스타일입력*/
  .container {
    display: grid;
    grid-template-columns: repeat(
      5,
      120px
    );
    align-content: center;
    flex-wrap: wrap;
    line-height: none;
    margin-bottom: 1rem;
  }
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 60%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  /*스타일입력*/

  .container {
    display: grid;
    /* grid-template-columns: repeat(
      3,
      120px
    );*/
    align-content: center;
    flex-wrap: wrap;
    line-height: none;
    margin-bottom: 1rem;
  }
  .select_section-characteristic li {
    display: inline-flex;
    width: 5rem;
    height: 2rem;
    background-color: rgba(
      1,
      1,
      1,
      0.1
    );
    border-radius: 1rem;
    margin: 0.8rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
  }

  .search_engine2 {
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  /*스타일입력*/
  .gnb_page1 {
    height: 3rem;
    width: auto;
    background-color: black;
  }
  .gnb ul {
    display: none;
  }
  .gnb_hide {
    display: none;
  }
  #myInput {
    width: 80%;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(
      3,
      120px
    );
    align-content: center;
    flex-wrap: wrap;
    line-height: none;
    margin-bottom: 1rem;
  }
  .select_section-characteristic li {
    display: inline-flex;
    width: 5rem;
    height: 4rem;
    background-color: rgba(
      1,
      1,
      1,
      0.1
    );
    border-radius: 1rem;
    margin: 0.8rem;
    margin-bottom: 1rem;
  }
}

/* 모바일 세로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  #myInput {
    width: 80%;
  }
  /*스타일입력*/
  h1 {
    margin-bottom: 2rem;
  }
  .gnb_page1 {
    height: 3rem;
    width: auto;
    background-color: black;
  }
  .gnb ul {
    display: none;
  }
  .gnb_hide {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(
      3,
      105px
    );
    align-content: center;
    flex-wrap: wrap;
    line-height: none;
    margin-bottom: 1rem;
    padding: 1.5rem;
  }
  .select_section-characteristic li {
    display: inline-flex;
    width: 5rem;
    height: 2rem;
    background-color: rgba(
      1,
      1,
      1,
      0.1
    );
    border-radius: 1rem;
    margin: 0.8rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  .search_engine2 {
    display: flex;
    justify-content: center;
    align-content: center;

    height: auto;
  }
}
